<template>
  <div class="breadcrumb_list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }" class="icont"
        >项目/</el-breadcrumb-item
      >
      <el-breadcrumb-item>项目管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>

  <ElLoading v-loading="loading"
    ><div class="container">
      <div class="content">
        <dl class="top">
          <dt>实训类型:</dt>

          <dd v-for="(item, index) in leixing" class="item" :key="index">
            <span
              @click="zhuang(index)"
              :class="index === ind2 ? 'active' : ''"
            >
              {{ item.title }}</span
            >
          </dd>
        </dl>
        <!-- 专业 -->
        <dl class="major">
          <dt>专业:</dt>
          <dd>
            <span>全部</span>
            <span
              v-for="(item, index) in selectMajorStationList"
              :key="index"
              class="major-b"
              @click="zhuan(index, item)"
              :class="index === ind ? 'active' : ''"
            >
              {{ item.label }}</span
            >
          </dd>
        </dl>

        <!-- 行业 -->
        <dl class="industry">
          <dt>行业：</dt>
          <dd>
            <span>全部</span>
            <span
              v-for="(item, index) in selectTradeList"
              :key="index"
              class="industry-b"
              @click="hang(index, item)"
              :class="index === ind1 ? 'active' : ''"
            >
              {{ item.label }}</span
            >
          </dd>
        </dl>
        <!-- 类型 -->
        <dl class="cyan" v-if="isStudent == 'teacher'">
          <dt>状态:</dt>
          <dd v-for="(item, index) in zhuangtai" class="item" :key="index">
            <span
              @click="lei(index, item)"
              :class="index === ind3 ? 'active' : ''"
            >
              {{ item.title }}</span
            >
          </dd>
        </dl>
      </div>
      <div class="bottom">
        <div class="search" v-if="isStudent == 'teacher'">
          <el-radio v-model="radio" label="1">仅选我的</el-radio>
          <el-input
            v-model="proName"
            placeholder="请输入内容"
            @change="search(proName)"
          ></el-input>
          <el-button type="primary" @click="addProjects">添加项目</el-button>
        </div>
        <div class="ss" v-if="isStudent == 'student'">
          <p v-for="(item, i) in comprehensive" :key="i">
            <span>{{ item }}</span>
          </p>
          <el-input
            v-model="proName"
            placeholder="请输入内容"
            @change="search(proName)"
          ></el-input>
        </div>
        <SuperTable
          :data="tableData"
          :columns="columns"
          v-if="isStudent == 'teacher'"
        >
          <!-- 列头 -->
          <template #optionheader>操作</template>
          <!-- 列内容 -->
          <template #optionrow>
            <i class="el-icon-view" @click="see"></i> &emsp;
            <i class="el-icon-refresh"></i>
          </template>
        </SuperTable>

        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :v-model="pageNum"
          :page-size="pageSize"
          layout="prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div></div
  ></ElLoading>
  <button v-if="isStudent == 'student'">gaga</button>
</template>

<script>
import api from "../../../api/index";
import SuperTable from "../../../compontents/SuperTable/index.vue";
import { reactive, toRefs, defineComponent, onMounted } from "vue";
import { useRouter } from "vue-router";
export default defineComponent({
  components: {
    SuperTable,
  },
  setup() {
    const columns = [
      {
        label: "岗位名称",
        prop: "proname",
      },
      {
        label: "名字",
        prop: "authorName",
      },
      {
        label: "版本号",
        prop: "version",
      },
      {
        label: "发起时间",
        prop: "createTime",
      },
      {
        label: "专业",
        prop: "trade",
      },
      {
        label: "更新时间",
        prop: "updateTime",
      },
      {
        label: "状态",
        prop: "status",
      },
      {
        label: "操作",
        slot: {
          title: "optionheader", //列头
          body: "optionrow", //列内容
        },
      },
    ];
    const $router = useRouter();
    const state = reactive({
      loading: true,
      selectMajorStationList: [], //专业
      selectTradeList: [], //行业
      ind: 0, //专业的下标
      ind1: 0, //行业的下标
      ind2: 0,
      ind3: 0,
      input: "", //搜索的按钮
      radio: "", //单选
      isStudent: window.localStorage.getItem("role"),
      tableData: [],
      leixing: [
        {
          title: "全部",
        },
        {
          title: "生产实训",
        },
        {
          title: "教学实训",
        },
        {
          title: "专业群实训部",
        },
      ],
      zhuangtai: [
        {
          title: "全部",
        },
        {
          title: "草稿",
        },
        {
          title: "已发布",
        },
        {
          title: "待审核",
        },
        {
          title: "已驳回",
        },
      ],
      total: 0, //分页总数据
      isAsc: "desc",
      sxtype: 0,
      status: 0,
      pageNum: 1, //每页
      pageSize: 5, //每页显示的总页数
      specialtyTag: "",
      industryTag: "",
      proName: "", //搜索的关键字
      newProjectList: 0,
      comprehensive: ["综合", "最新", "最热"], //综合排序
    });

    //专业
    api.project.selectMajorStationList().then((res) => {
      // console.log(res);
      if (res.data.code == 200) {
        state.selectMajorStationList = res.data.data;
      }
    });
    //行业
    api.project.selectTradeList().then((res) => {
      if (res.data.code == 200) {
        state.selectTradeList = res.data.data;
      }
    });
    //表格
    const init = () => {
      const {
        isAsc,
        sxtype,
        status,
        pageNum, //每页
        pageSize, //每页显示的总页数
        specialtyTag,
        industryTag,
        proName,
        newProjectList,
      } = state;
      api.project
        .selectProjectList(null, {
          isAsc,
          sxtype,
          status,
          pageNum, //每页
          pageSize, //每页显示的总页数
          specialtyTag,
          industryTag,
          proName,
          newProjectList,
        })
        .then((res) => {
          if (res.data.code == 200) {
            state.tableData = res.data.rows;
            state.total = res.data.total;
          }
        });
    };

    //点击事件
    const methods = {
      //点击专业
      zhuan(index, item) {
        // console.log(index);

        this.ind = index;
        state.specialtyTag = item.value;

        init();
      },
      //点击行业
      hang(index, item) {
        this.ind1 = index;
        state.industryTag = item.value;
        init();
      },
      //状态
      zhuang(index) {
        this.ind2 = index;
        init();
      },
      lei(index) {
        this.ind3 = index;
        init();
      },

      // 一页多少条
      handleSizeChange(val) {
        console.log(val);
      },
      // 当前页
      handleCurrentChange(val) {
        state.pageNum = val;
        init();
      },
      //点击搜索
      search(val) {
        state.proName = val;
        init();
      },

      //添加项目

      addProjects() {
        $router.push("/teacher/addproject");
      },

      //查看

      see() {
        $router.push("/teacher/editproject");
      },
    };
    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
      columns,
    };
  },
});
</script>

<style lang="scss">
.top {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  margin: 10px 0;
}
.top dt {
  width: 95px;
  margin-left: 15px;
}
.top dd {
  line-height: 80px;
  padding: 0 15px;
}

.top dd span.active {
  background: blueviolet;
  padding: 10px;
  border-radius: 15px;
}
.major {
  width: 100%;

  display: flex;
  margin: 10px 0;
}
.major dt {
  width: 95px;
  margin-left: 15px;
}
.major dd span {
  display: inline-block;
  padding: 20px 15px;
}

.major dd span.active {
  background: blueviolet;
  padding: 10px;
  border-radius: 15px;
}
.search {
  float: right;
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.industry {
  width: 100%;
  display: flex;
  margin: 10px 0;
}
.industry dt {
  width: 150px;
  margin-left: 15px;
}
.industry dd span {
  display: inline-block;
  padding: 20px 15px;
}

.industry dd span.active {
  background: blueviolet;
  padding: 8px 10px;
  border-radius: 15px;
}
.breadcrumb_list {
  width: 100%;
  height: 74px;
  background: rgba(103, 156, 246, 0.1);
  display: flex;
  align-items: center;
}
.icont {
  margin-left: 150px;
}
.cyan {
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  margin: 10px 0;
}
.cyan dt {
  width: 95px;
  margin-left: 15px;
}
.cyan dd {
  line-height: 80px;
  padding: 0 15px;
}

.cyan dd span.active {
  background: blueviolet;
  padding: 10px;
  border-radius: 15px;
}
</style>
