<template>
  <div class="breadcrumb_list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }" class="icont"
        >岗位/</el-breadcrumb-item
      >
      <el-breadcrumb-item>岗位</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <div class="container">
    <div class="top">
      <div class="toptop">
        <b>专业：</b>
        <span :class="classflag ? 'topclass' : ''" @click="topall">全部</span>
        <span
          v-for="(item, index) in list"
          :key="item.id"
          @click="clickbtn(item, index)"
          :class="carIndex == index ? 'topclass' : ''"
        >
          {{ item.name }}
        </span>
      </div>
      <div class="topbot">
        <b>状态：</b>
        <span
          v-for="(item, index) in stateList"
          :key="index"
          :class="carIndex2 == index ? 'topclass' : ''"
          @click="clickstate(item, index)"
        >
          {{ item }}
        </span>
      </div>
    </div>
    <div class="main">
      <div class="maintop">
        <el-checkbox v-model="checked" @change="checkbox(checked)"
          >仅看我的</el-checkbox
        >
        <el-input
          v-model="searchTitle"
          size="mini"
          placeholder="搜索岗位"
          @change="search(searchTitle)"
        />
        <el-button type="primary">+添加岗位</el-button>
      </div>
      <el-table :data="tableList" style="width: 100%">
        <el-table-column label="岗位名称" prop="name"></el-table-column>
        <el-table-column label="学院" prop="majorName"> </el-table-column>
        <el-table-column label="版本号" prop="stationVersion">
        </el-table-column>
        <el-table-column label="技能数量" prop="skillNum"> </el-table-column>
        <el-table-column label="作者" prop="userName"> </el-table-column>
        <el-table-column label="发起时间" prop="createTime"> </el-table-column>
        <!-- <el-table-column align="right">
          <template #default="scope">
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
              >Edit</el-button
            >
            <el-button
              size="mini"
              type="danger"
              @click="handleDelete(scope.$index, scope.row)"
              >Delete</el-button
            >
          </template>
        </el-table-column> -->
      </el-table>
      <div class="block">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          v-model="currentPage3"
          :page-size="pageSize"
          layout="prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import res from "@/api";
import { reactive, toRefs, onMounted } from "vue";
export default {
  name: "home",

  setup() {
    let selectStationLabelList = reactive({
      list: [],
      classflag: true,
      carIndex: null, //顶部样式
      carIndex2: 0, //状态样式
      activeIndex2: "1",
      stateList: ["全部", "草稿", "已发布", "待审核", "已驳回"], //状态数据
      tableList: [], //表格数据
      checked: false, //复选框的选中状态

      searchTitle: "",
      isAsc: "desc",
      pageNum: 1,
      pageSize: 10,
      majorId: "",
      status: "",
      isMyInfo: false,

      currentPage3: 5, //分页
      total: 1, //表格数据总数
    });
    res.home.selectStationLabel().then((res) => {
      if (res.data.code == 200) {
        selectStationLabelList.list = res.data.data;
      }
    });

    const init = () => {
      const {
        searchTitle,
        isAsc,
        pageNum,
        pageSize,
        majorId,
        status,
        isMyInfo,
      } = selectStationLabelList;

      res.home
        .selectStationNewVersionList(null, {
          searchTitle,
          isAsc,
          pageNum,
          pageSize,
          majorId,
          status,
          isMyInfo,
        })
        .then((res) => {
          if (res.data.code == 200) {
            selectStationLabelList.tableList = res.data.rows;
            selectStationLabelList.total = res.data.total;
          }
        });
    };

    const methods = {
      //顶部点击事件
      clickbtn(item, ind) {
        selectStationLabelList.majorId = item.id;
        init();
        selectStationLabelList.classflag = false;
        selectStationLabelList.carIndex = ind;
      },
      // 顶部点击全部
      topall() {
        selectStationLabelList.classflag = true;
        selectStationLabelList.carIndex = null;
        selectStationLabelList.majorId = null;
        init();
      },
      // 点击状态
      clickstate(item, ind) {
        selectStationLabelList.carIndex2 = ind;
        if (ind == 0) {
          selectStationLabelList.status = null;
        } else {
          selectStationLabelList.status = ind;
        }
        init();
      },
      // 仅看我的复选框
      checkbox(check) {
        selectStationLabelList.isMyInfo = check;
        init();
      },
      // 搜索框
      search(value) {
        selectStationLabelList.searchTitle = value;
        init();
      },
      // 表格编辑
      handleEdit(index, row) {
        console.log(index, row);
      },
      // 表格删除
      handleDelete(index, row) {
        console.log(index, row);
      },
      // 分页 每页条数
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      // 分页  当前页
      handleCurrentChange(val) {
        selectStationLabelList.pageNum = val;
        init();
      },
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(selectStationLabelList),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.container {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.top {
  width: 85%;
  // height: 200px;
  background-color: #fff;
  margin: 20px 100px;
  border-radius: 10px;
  b {
    display: inline-block;
    text-align: left;
    width: 50px;
    // height: 300px;
    line-height: 40px;
    text-align: center;
  }
  span {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
  }
  span:hover {
    background: skyblue;
    color: #fff;
  }
}
.topclass {
  background: skyblue;
  color: #000;
}
.main {
  width: 85%;
  background-color: #fff;
  margin: 20px 100px;
  border-radius: 10px;
}
.maintop {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
  margin-top: 5px;
  padding-right: 20px;
}
span {
  color: #000;
}
.block {
  margin-left: 700px;

  width: 50%;
  height: 40px;
}
.breadcrumb_list {
  width: 100%;
  height: 74px;
  background: rgba(103, 156, 246, 0.1);
  display: flex;
  align-items: center;
}
.icont {
  margin-left: 150px;
}
</style>
