<template>
  <div class="breadcrumb_list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }" class="icont"
        >项目</el-breadcrumb-item
      >
      <el-breadcrumb-item>添加项目</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <div class="container">
    <div class="top">
      <h3>查看项目</h3>
      <div class="div_right">
        <el-button @click="btn">返回</el-button>
      </div>
    </div>
    <div class="content">
      <div class="content-top">
        <h3>基本信息</h3>
      </div>
      <div class="cont">
        <div class="top_li">
          <div class="lis">
            <span><b>项目名称：</b>{{ students.name }}</span>

            <span><b>版本号：</b>{{ students.version }}</span>
          </div>
          <div class="lis">
            <span><b>评价:</b>{{ students.description }}</span>
          </div>
          <div class="lis">
            <span><b>专业</b>：</span>

            <span><b>行业：</b></span>
          </div>
          <div class="lis">
            <span><b>实训类型</b></span>

            <div class="di">
              <span><b>总共天</b></span>
            </div>
          </div>
          <div class="lis">
            <span>技能点:根据任务生成的</span>
          </div>
        </div>

        <div class="top_ri">
          <div class="lis">
            <span><b>演示地址</b></span>
          </div>

          <div class="lis">
            <span><b>封面</b></span>
            <el-upload
              action="https://jsonplaceholder.typicode.com/posts/"
              list-type="picture-card"
              :on-preview="handlePictureCardPreview"
              :on-remove="handleRemove"
            >
              <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog v-model="dialogVisible">
              <img width="100%" :src="dialogImageUrl" alt="" />
            </el-dialog>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <el-tabs v-model="activeName" @tab-click="handleClick" class="bottom_uls">
        <el-tab-pane label="实训大纲" name="first">
          <p v-for="(item, i) in lis" :key="i" class="first-one">
            {{ item }}
          </p>
        </el-tab-pane>
        <el-tab-pane label="实训任务" name="second">
          <ul class="uls">
            <li v-for="(item, i) in rank" :key="i">{{ item }}</li>
          </ul>
        </el-tab-pane>
        <el-tab-pane label="项目资源" name="third">
          <h3 v-for="(item, i) in presss" :key="i">{{ item }}</h3>
        </el-tab-pane>
        <el-tab-pane label="实训环境" name="five">
          <h3>资源名称</h3>
          <h3>资源类型</h3>
          <h3>提交文件</h3>
        </el-tab-pane>
        <el-tab-pane label="前置项目" name="fourth">暂无数据</el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, defineComponent } from "vue";

import { useRouter } from "vue-router";
import api from "../../../../src/api/index";
export default defineComponent({
  setup() {
    const $router = useRouter();
    const state = reactive({
      job: "", //项目
      comment: "", //简介
      person: "", //版本
      skill: "", //技能点
      num: "", //计数器

      address: "", //地址
      Trainings: "", //实训类型
      selectMajorStationList: [], //专业
      selectMajorStation: "", //专业的下标
      selectTradeList: [], //行业
      selectTrade: [],
      dialogImageUrl: "",
      dialogVisible: false,
      students: {},

      Training: [
        {
          label: "生产实训",
        },
        { label: "专业实训" },
        { label: "教学实训" },
      ],
      activeName: "second", //tabs
      lis: ["项目实训概述", "项目讲解", "项目实施实施"],
      presss: [
        "环境名称",
        "外部环境",
        "环境描述",
        "提交文件",
        "描述",
        "教室：可见",
        "学生：可下载",
      ],
      rank: [
        "任务名称",
        "任务成果",
        "保薪技能",
        "提薪技能",
        "考核标准",
        "步骤数量",
        "推荐工期",
        "工期",
      ],
    });
    //专业
    api.project.selectMajorStationList().then((res) => {
      console.log(res);
      if (res.data.code == 200) {
        state.selectMajorStationList = res.data.data;
      }
    });
    api.project.EditList().then((res) => {
      console.log(res.data.data);
      if (res.data.code == 200) {
        state.students = res.data.data;
      }
    });
    //行业
    api.project.selectTradeList().then((res) => {
      if (res.data.code == 200) {
        state.selectTradeList = res.data.data;
      }
    });

    const methods = {
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        state.dialogImageUrl = file.url;
        state.dialogVisible = true;
      },

      //点击返回
      btn() {
        $router.push("/teacher/project");
      },
      handleClick(tab, event) {
        console.log(tab, event);
      },
    };
    return {
      ...toRefs(state),
      ...methods,
    };
  },
});
</script>

<style style="scss" scoped>
.top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
h3 {
  margin-left: 15px;
}
.sumit {
  margin-right: 15px;
}
.content-top {
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #ccc solid;
}
.save {
  margin-right: 15px;
}
.bottom {
  margin-top: 30px;
  width: 100%;
}
.bottom_uls {
  width: 100%;
}
.cont {
  border-bottom: 1px #ccc solid;
  display: flex;
}
.top_li {
  width: 600px;
}
.top_ri {
  flex: 1;
}
.bottom_uls li {
  float: left;
  list-style: none;
  line-height: 40px;
  padding: 0 25px;
  font-size: 20px;
}
.lis {
  width: 100%;
  display: flex;
  margin: 15px 5px;
}
.lis span {
  padding: 0 8px;
}
.input {
  width: 250px;
}

.di {
  margin-left: 35px;
}
.first-one {
  line-height: 50px;
}
</style>
