<template>
  <div class="breadcrumb_list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }" class="icont"
        >计划</el-breadcrumb-item
      >
      <el-breadcrumb-item>计划管理</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <div class="container">
    <div class="plan">
      <nav-data></nav-data>
      <div class="teacher_plan_list">
        <div class="train_resource">
          <div class="type">
            <div class="title">班级：</div>
            <div class="list">
              <span :class="Allflag ? 'active' : ''" @click="chickAll"
                >全部</span
              >
              <span
                v-for="(item, index) in titleList"
                :key="index"
                :class="[index == ind ? 'active' : '']"
                @click="chickBtn(index, item)"
                >{{ item.classname }}</span
              >
            </div>
          </div>
        </div>
        <div class="list_detail">
          <div class="detail-top">
            <div class="detail-action">
              <div class="action-left">
                <el-radio-group v-model="radio" border="true">
                  <el-radio-button
                    v-for="(item, ifFinished) in radioList"
                    :key="ifFinished"
                    :label="item"
                    @change="changeRadio(ifFinished)"
                  ></el-radio-button>
                </el-radio-group>
              </div>
              <div class="action-right">
                <el-button type="primary" round>+添加计划</el-button>
                <el-input
                  v-model="searchName"
                  placeholder="请输入内容"
                  @keydown.enter="enterSearch(searchName)"
                ></el-input>
              </div>
            </div>
          </div>
          <div class="detail-bottom">
            <el-table
              :header-align="center"
              :data="tableData"
              stripe
              style="width: 100%"
            >
              <el-table-column prop="className" label="班级/计划" width="180">
                <template #default="scope">
                  <div class="planelist">
                    <div>{{ scope.row.className }}</div>
                    <div>{{ scope.row.planname }}</div>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="endtime" label="时间" width="280">
                <template #default="scope">
                  <div>
                    <div v-if="moment(scope.row.endtime) > 0">
                      {{ moment(scope.row.endtime) }}
                    </div>
                    <div v-else-if="moment(scope.row.endtime) < 0">
                      距结束还剩：<b>0时0分0秒</b>
                    </div>
                    <div>开始:{{ scope.row.begintime }}</div>
                    <div>结束:{{ scope.row.endtime }}</div>
                  </div>
                </template>
              </el-table-column>
              <el-table-column prop="progress" label="进度">
                <template #default="scope">
                  <div style="color: orange; font-size: 22px">
                    {{ scope.row.progress }}%
                  </div>
                </template>
              </el-table-column>
              <el-table-column label="操作" width="180">
                <template #default="scope">
                  <el-popover effect="light" trigger="hover" placement="bottom">
                    <template #default>
                      <p>查看</p>
                    </template>
                    <template #reference>
                      <div class="name-wrapper">
                        <el-tag size="medium"
                          ><i
                            class="el-icon-view"
                            @click="handleEdit(scope.row)"
                          ></i
                        ></el-tag>
                      </div>
                    </template>
                  </el-popover>
                </template>
              </el-table-column>
            </el-table>
            <div class="page">
              <div></div>
              <div>
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :page-size="pageSize"
                  layout="prev, pager, next, jumper"
                  :total="total"
                >
                </el-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import res from "@/api";
import { reactive, toRefs } from "vue";
import moment from "moment";
import { useRouter } from "vue-router";
export default {
  name: "App",
  setup() {
    const $router = useRouter();
    let list = reactive({
      Allflag: true,
      titleList: [], //班级列表
      total: 0,
      ind: null, //顶部样式
      radio: "进行中",
      radioList: ["未开始", "进行中", "已结束"],
      classId: "",
      searchName: "",
      ifFinished: 1,
      pageNum: 1,
      pageSize: 10,
      tableData: [], //底部数据
    });
    //获取班级列表
    res.practical.getClassInfo().then((res) => {
      if (res.data.code === 200) {
        list.titleList = res.data.data;
      }
    });

    //方法
    const methods = {
      //公共方法
      getInit() {
        res.practical
          .getPlanList(null, {
            classId: list.classId,
            searchName: list.searchName,
            ifFinished: list.ifFinished,
            pageNum: list.pageNum,
            pageSize: list.pageSize,
          })
          .then((res) => {
            if (res.data.code === 200) {
              list.tableData = res.data.rows;
              list.total = res.data.total; //数据总数
            }
          });
      },
      //时间方法
      moment(endtime) {
        return moment(endtime).valueOf() - new Date().getTime();
      },
      //点击头部
      chickBtn(index, item) {
        list.Allflag = false;
        list.ind = index;
        list.classId = item.id;
        methods.getInit();
      },
      //点击未开始，进行中，已结束
      changeRadio(ifFinished) {
        list.ifFinished = ifFinished;
        methods.getInit();
      },
      //搜索
      enterSearch(searchName) {
        list.searchName = searchName;
        methods.getInit();
      },
      //点击全部
      chickAll() {
        list.Allflag = true;
        list.ind = null;
        methods.getInit();
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      //点击分页
      handleCurrentChange(val) {
        list.pageNum = val;
        methods.getInit();
      },
      //点击查看 跳转至进度页面
      handleEdit(row) {
        $router.push("/teacher/schedule?id=" + row.id);
      },
    };

    return {
      ...toRefs(list),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.plan {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  .breadcrumb_list {
    width: 100%;
    height: 74px;
    background: rgba(103, 156, 246, 0.1);
    display: flex;
    align-items: center;
  }
  .teacher_plan_list {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #e7e8e9;
    .train_resource {
      width: 100%;
      height: 104px;
      padding: 30px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #ffffff;
      .type {
        width: 1120px;
        height: 34px;
        display: flex;
        .title {
          display: flex;
          align-items: center;
        }
        .list {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
            color: #303849;
            padding: 4px 12px;
            display: inline-block;
            cursor: pointer;
            border-radius: 15px;
            margin-right: 10px;
          }
          span:hover {
            background: #679cf6;
            color: white;
          }
          .active {
            background: #679cf6;
            color: white;
          }
        }
      }
    }
    .list_detail {
      width: 100%;
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #ffffff;
      border-radius: 2px;
      .detail-top {
        width: 100%;
        height: 196px;
        display: flex;
        align-items: center;
        .detail-action {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;
          .action-left {
            width: 250px;
            height: 38px;
          }
          .action-right {
            width: 340px;
            height: 38px;
            display: flex;
            justify-content: space-around;
          }
        }
      }
    }
  }
  .foot {
    width: 100%;
    height: 180px;
    background: #353d53;
  }
  .page {
    display: flex;
    justify-content: space-between;
  }
  .planelist {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .progress {
    width: 100%;
    height: 100%;
    color: orange;
    font-size: 22px;
  }
  i {
    color: #679cf6;
  }
}
</style>
