<template>
  <div class="breadcrumb_list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }" class="icont"
        >项目</el-breadcrumb-item
      >
      <el-breadcrumb-item>添加项目</el-breadcrumb-item>
    </el-breadcrumb>
  </div>
  <div class="container">
    <div class="top">
      <h3>添加项目</h3>
      <div class="div_right">
        <el-button>取消</el-button>
        <el-button type="primary" class="sumit">提交审核</el-button>
      </div>
    </div>
    <div class="content">
      <div class="content-top">
        <h3>基本信息</h3>
        <el-button class="save" @click="save">保存</el-button>
      </div>
      <div class="cont">
        <div class="lis">
          <span>项目名称：</span>
          <el-input
            v-model="job"
            placeholder="请输入项目名称"
            class="input"
          ></el-input>
          <span>版本号：</span>
          <el-input
            v-model="person"
            placeholder="请输入版本号"
            class="input"
          ></el-input>
        </div>
        <div class="lis">
          <span>评价</span>
          <el-input
            v-model="comment"
            placeholder="项目评价"
            style="width: 600px"
          ></el-input>
        </div>
        <div class="lis">
          <span>专业：</span>
          <el-select v-model="selectMajorStation" placeholder="请选择">
            <el-option
              v-for="item in selectMajorStationList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
          <span>行业：</span>
          <el-select v-model="selectTrade" placeholder="请选择">
            <el-option
              v-for="item in selectTradeList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
        <div class="lis">
          <span>实训类型</span>
          <el-select v-model="Trainings" placeholder="请选择">
            <el-option
              v-for="item in Training"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>

          <div class="di">
            <span
              >总共<el-input-number
                v-model="num"
                @change="handleChange"
                :min="1"
                :max="100"
                label="描述文字"
              ></el-input-number
              >天</span
            >
          </div>
        </div>
        <div class="lis">
          <span>演示地址</span>
          <el-input
            v-model="address"
            placeholder="请输入演示地址"
            style="width: 600px"
          ></el-input>
        </div>
        <div class="lis">
          <span>技能点</span>
          <el-input
            v-model="skill"
            placeholder="技能点是有任务生成的"
            style="width: 600px"
          ></el-input>
        </div>

        <div class="lis">
          <span>文件上传</span>
          <el-upload
            action="https://jsonplaceholder.typicode.com/posts/"
            list-type="picture-card"
            :on-preview="handlePictureCardPreview"
            :on-remove="handleRemove"
          >
            <i class="el-icon-plus"></i>
          </el-upload>
          <el-dialog v-model="dialogVisible">
            <img width="100%" :src="dialogImageUrl" alt="" />
          </el-dialog>
        </div>
      </div>
    </div>
    <div class="bottom">
      <ul class="bottom_uls">
        <li>实训大纲</li>
        <li>实训任务</li>
        <li>实训资源</li>
        <li>实训环境</li>
        <li>前置项目</li>
      </ul>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, defineComponent } from "vue";
import api from "../../../../src/api/index";
export default defineComponent({
  setup() {
    const state = reactive({
      job: "", //项目
      comment: "", //简介
      person: "", //版本
      skill: "", //技能点
      num: "", //计数器
      address: "", //地址
      Trainings: "", //实训类型
      selectMajorStationList: [], //专业
      selectMajorStation: "", //专业的下标
      selectTradeList: [], //行业
      selectTrade: [],
      dialogImageUrl: "",
      dialogVisible: false,

      Training: [
        {
          label: "生产实训",
        },
        { label: "专业实训" },
        { label: "教学实训" },
      ],
    });
    //专业
    api.project.selectMajorStationList().then((res) => {
      // console.log(res);
      if (res.data.code == 200) {
        state.selectMajorStationList = res.data.data;
      }
    });

    //行业
    api.project.selectTradeList().then((res) => {
      if (res.data.code == 200) {
        state.selectTradeList = res.data.data;
      }
    });

    const methods = {
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePictureCardPreview(file) {
        state.dialogImageUrl = file.url;
        state.dialogVisible = true;
      },
      //点击改变change 事件
      handleChange(value) {
        console.log(value);
      },
      //点击保存

      save(
        job,
        comment,
        person,
        skill,
        num,
        address,
        Trainings,
        selectMajorStation,
        dialogImageUrl
      ) {
        console.log(
          job,
          comment,
          person,
          skill,
          num,
          address,
          Trainings,
          selectMajorStation,
          dialogImageUrl
        );
      },
    };
    return {
      ...toRefs(state),
      ...methods,
    };
  },
});
</script>

<style style="scss" scoped>
.top {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
h3 {
  margin-left: 15px;
}
.sumit {
  margin-right: 15px;
}
.content-top {
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #ccc solid;
}
.save {
  margin-right: 15px;
}
.bottom {
  margin-top: 30px;
  width: 100%;
}
.bottom_uls {
  width: 100%;
}
.cont {
  border-bottom: 1px #ccc solid;
}
.bottom_uls li {
  float: left;
  list-style: none;
  line-height: 40px;
  padding: 0 25px;
  font-size: 20px;
}
.lis {
  width: 100%;
  display: flex;
  margin: 15px 5px;
}
.lis span {
  padding: 0 8px;
  width: 100px;
  height: 40px;
  line-height: 40px;
}
.input {
  width: 250px;
}

.di {
  margin-left: 35px;
}
</style>
