<template>
  <div class="container">
    <nav-data></nav-data>
    <div class="header">
      <div class="inp">
        <div class="inp_left">
          <p style="font-size: 25px; margin: 10px 0">
            {{ selectClassPlanInit.className }}
          </p>
          <p style="margin: 10px 0">{{ planname }}</p>
          <p style="color: #80879b">
            <span>{{ selectClassPlanInit.begintime }}</span>
            <span>{{ selectClassPlanInit.endtime }}</span>
          </p>
        </div>
        <div class="inp_right">
          <el-select
            v-model="value"
            placeholder="请选择"
            @change="changeVal(value)"
          >
            <el-option
              v-for="item in selectClassPlan"
              :key="item.id"
              :lable="item.planname"
              :value="item.planname"
            >
            </el-option>
          </el-select>
        </div>
      </div>
      <div class="pan_list">
        <div>
          <p style="font-size: 36px; color: #679cf6">
            {{ selectClassPlanInit.countStus }}
          </p>
          <p style="color: #80879b">总人数</p>
        </div>
        <div>
          <p style="font-size: 36px; color: #ff8d41">
            {{ selectClassPlanInit.progress }}
          </p>
          <p style="color: #80879b">完成率</p>
        </div>
        <div>
          <p style="font-size: 36px; color: #3bc9a9">
            {{
              selectClassPlanInit.countCompleted
                ? selectClassPlanInit.countCompleted
                : "0"
            }}
          </p>
          <p style="color: #80879b">按期完成人数</p>
        </div>
        <div>
          <p style="font-size: 36px; color: #fc3535">
            {{ selectClassPlanInit.countUncompleted }}
          </p>
          <p style="color: #80879b">延期完成人数</p>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="group_progres" v-for="(item, i) in list" :key="i">
          <div class="groupname">
            <p>{{ item.groupname }}</p>
            <el-progress :percentage="item.groupProgress"></el-progress>
            <div class="icon">
              <p>
                <i
                  class="el-icon-s-custom"
                  style="color: rgb(103, 156, 246); margin: 0 5px"
                ></i>
                <span style="margin: 0 5px; color: #80879b">人员</span>
                <span>{{ item.members }}</span>
              </p>
              <p>
                <i
                  class="el-icon-s-custom"
                  style="color: rgb(103, 156, 246)"
                ></i>
                <span style="margin: 0 5px; color: #80879b">按期完成</span>
                <span>{{ item.finished }}</span>
              </p>
              <p>
                <i
                  class="el-icon-s-custom"
                  style="color: rgb(103, 156, 246)"
                ></i>
                <span style="margin: 0 5px; color: #80879b">延期完成</span>
                <span>{{ item.unfinished }}</span>
              </p>
            </div>
            <el-table :data="item.stuList" style="width: 100%">
              <el-table-column prop="username" label="姓名" width="290">
              </el-table-column>
              <el-table-column
                prop="name"
                :label="item.myProject[0].proname"
                width="180"
              >
              </el-table-column>
            </el-table>
          </div>
        </div>
      </div>
      <div class="right">
        <h2>班级排行</h2>
        <div class="rankList" v-for="(item, i) in classRank" :key="i">
          <div class="rankItem">
            <div class="right">
              <img
                src="http://111.203.59.61:8060/file_service/group1/M00/00/04/rBsCHGB1EzmARFYeAA5iIj93smY356.png"
                style="width: 40px; height: 40px; border-radius: 50%"
                alt=""
              />
              <span
                v-if="i < 3"
                class="hot"
                style="
                  position: relative;
                  top: -40px;
                  left: -50px;
                  display: inline-block;
                  width: 36px;
                  height: 20px;
                  border-radius: 15px 15px 35px 15px;
                  background: orange;
                  font-size: 12px;
                  color: #fff;
                "
                >{{ `Top.${i + 1}` }}</span
              >
              <span
                v-else
                class="hot"
                style="
                  position: relative;
                  top: -40px;
                  left: -50px;
                  display: inline-block;
                  width: 21px;
                  height: 20px;
                  border-radius: 15px 15px 35px 15px;
                  background: rgba(178, 183, 198, 0.3);
                  font-size: 12px;
                  color: #6b6b80;
                "
                >{{ i + 1 }}</span
              >
            </div>
            <div id="title">
              <span>{{ item.username }}</span>
              <p style="color: #80879b">{{ item.groupname }}</p>
            </div>
            <div style="color: orange" class="Progress">
              {{ `${item.taskCompletedpProgress * 100}%` }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api";
import { reactive, toRefs, onMounted } from "vue";
import { useRoute } from "vue-router";

export default {
  setup() {
    const $router = useRoute();
    const state = reactive({
      selectClassPlan: [], //下拉框数据
      selectClassPlanInit: {}, //小组数据
      classRank: [], //排行数据
      classid: 9, //获取小组数据传的参数
      classPlanid: "", //下拉框id
      value: "",
      planname: "",
      list: [],
    });
    state.classPlanid = $router.query.id;

    //方法
    const methods = {
      //下拉列表数据
      selectBtn() {
        api.practical.selectClassPlan().then((res) => {
          if (res.data.code === 200) {
            state.selectClassPlan = res.data.data;
          }
        });
      },
      //左侧任务数据
      leftList() {
        api.practical
          .selectClassPlanInit(
            {},
            {
              classid: state.classid,
              classPlanid: state.classPlanid,
            }
          )
          .then((res) => {
            if (res.data.code === 200) {
              state.selectClassPlanInit = res.data.data;
              state.planname = res.data.data.planname;
              state.list = res.data.data.list;
            }
          });
      },

      //右侧排行数据
      rightList() {
        api.practical
          .classRank(
            {},
            {
              classid: state.classid,
              classPlanid: state.classPlanid,
            }
          )
          .then((res) => {
            if (res.data.code === 200) {
              state.classRank = res.data.data;
            }
          });
      },
      changeVal(val) {
        state.planname = val;
        let ind = state.selectClassPlan.findIndex(
          (item) => item.planname == val
        );
        state.classPlanid = state.selectClassPlan[ind].id;
        methods.leftList();
        methods.rightList();
      },
    };

    onMounted(() => {
      methods.selectBtn();
      methods.leftList();
      methods.rightList();
    });
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  min-height: 100%;
  background: rgb(248, 245, 245);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  .header {
    width: 85%;
    height: 271px;
    padding: 0 20px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 20px;
    .inp {
      width: 100%;
      height: 105px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      .inp_right {
        margin-top: 25px;
      }
    }
    .pan_list {
      width: 100%;
      height: 110px;
      display: flex;
      justify-content: space-between;
      div {
        width: 20%;
        height: 100%;
        background: rgba(103, 156, 246, 0.05);
        text-align: center;
        align-items: center;
        line-height: 60px;
      }
    }
  }
  .bottom {
    width: 85%;
    padding: 0 20px;
    background: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    .left {
      width: 75%;
      height: 100%;
      .group_progres {
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
        .groupname {
          p {
            margin-bottom: 20px;
          }
        }
        .icon {
          display: flex;
          margin-top: 25px;
          p {
            margin-right: 15px;
          }
        }
      }
    }
    .right {
      width: 25%;
      margin-left: 10px;
      h2 {
        width: 100%;
        height: 40px;
        padding: 0 15px;
        box-sizing: border-box;
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .rankList {
        width: 100%;
        .rankItem {
          width: 100%;
          height: 70px;
          display: flex;
          #title {
            width: 50%;
            height: 100%;
          }
          .hot {
            position: relative;
            top: -40px;
            left: -50px;
            display: inline-block;
            width: 21px;
            height: 20px;
            border-radius: 15px 15px 35px 15px;
            background: rgba(178, 183, 198, 0.3);
            font-size: 12px;
            color: #6b6b80;
          }
          .Progress {
            text-align: left;
            font-size: 18px;
          }
        }
      }
    }
  }
}
</style>
