<template>
  <div class="login">
    <div class="box">
      <div class="login-box">
        <h2>八维生产性实训平台</h2>
        <el-input v-model="username" placeholder="账号"></el-input>
        <br /><br />
        <el-input
          v-model="password"
          placeholder="密码"
          type="password"
        ></el-input>
        <br /><br />
        <div class="captcha">
          <el-input
            style="width: 230px"
            v-model="code"
            placeholder="验证码"
          ></el-input>
          <img :src="captChaImage" alt="验证码" @click="captchaBtn" />
        </div>
        <br />
        <div class="radio">
          <el-radio v-model="key" label="student">学生</el-radio><br />
          <el-radio v-model="key" label="teacher">老师</el-radio>
        </div>
        <br />
        <el-button style="width: 100%" type="primary" @click="loginBtn"
          >登录</el-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import res from "@/api";
// import { useRouter } from "vue-router";
import { defineComponent, ref } from "vue";

export default defineComponent({
  setup() {
    return {
      captChaImage: ref(null),
      username: ref(""),
      password: ref(""),
      code: ref(""),
      key: ref("student"),
      uuid: ref(""),
    };
  },
  created() {
    this.captchaBtn();
  },
  methods: {
    //点击切换验证码
    async captchaBtn() {
      localStorage.clear();
      let captcha = await res.login.getcaptchaImage();
      this.captChaImage = "data:image/gif;base64," + captcha.data.img;
      this.uuid = captcha.data.uuid;
    },
    //点击登录
    async loginBtn() {
      const { username, password, code, key, uuid } = this;
      let obj = await res.login.login({ username, password, code, key, uuid });
      console.log(obj);
      if (obj.data.code === 200) {
        localStorage.setItem("Authorization", obj.data.token);
        localStorage.setItem("role", key);
        this.$router.push("/teacher/job");
      }
    },
  },
});
</script>
<style lang="scss">
html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
}
.login {
  width: 100%;
  height: 100%;
  background-image: url("http://111.203.59.61:8060/static/img/login-background.55b26da3.jpg");
  .box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .login-box {
      width: 380px;
      height: 350px;
      background: rgb(243, 243, 243);
      border-radius: 10px;
      margin-right: 50px;
      padding: 15px 15px 5px 15px;
      h2 {
        text-align: center;
        line-height: 50px;
        color: #707070;
      }
      .captcha {
        width: 100%;
        display: flex;
        justify-content: space-between;
        img {
          width: 101px;
          height: 40px;
        }
      }
      .radio {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
</style>
