<template>
  <div class="container">
    <nav-data></nav-data>
    <div v-if="flag">Loding...</div>
    <div class="reply" v-else>
      <div class="top_filter">
        <div class="conten">
          <div class="search_row">
            <span style="width: 100px; margin-top: 5px">专业:</span>
            <div class="Mjortitle">
              <span @click="getAll('all')" :class="ind === 0 ? 'active' : ''"
                >全部</span
              >
              <span
                v-for="(item, i) in MjorData"
                :key="item.id"
                @click="changeId(item.id, i + 1)"
                :class="ind === i + 1 ? 'active' : ''"
                >{{ item.name }}</span
              >
            </div>
          </div>
          <div class="serch_state">
            <p>状态:</p>
            <span
              v-for="(item, i) in state"
              :key="i"
              @click="changState(i)"
              :class="stateInd === i ? 'active' : ''"
              >{{ item }}</span
            >
          </div>
        </div>
      </div>
      <div class="table_list">
        <div class="inp">
          <div></div>
          <div>
            <el-input
              v-model="searchTitle"
              placeholder="请输入内容"
              style="width: 200px"
              suffix-icon="el-icon-search"
              @input="search"
            ></el-input>
            <el-button type="primary">+发起答辩</el-button>
          </div>
        </div>
        <div>
          <super-table
            :data="tableData"
            :tableConfig="tableConfig"
            :fenYeTotal="total"
            @currentChange="currentChange"
          >
            <template #StartTime="{ scope }">
              <div>开始 {{ scope.row.defenceCreateTime }}</div>
              <div>结束 {{ scope.row.defenceEndTime }}</div>
            </template>
            <template #State="{ scope }">
              <div class="planelist">
                <span v-if="scope.row.defenceStatus === 1">未开始</span>
                <span v-if="scope.row.defenceStatus === 2" style="color: red"
                  >进行中</span
                >
                <span v-if="scope.row.defenceStatus === 3">已结束</span>
              </div>
            </template>
            <template #Action="{ scope }">
              <i
                style="color: blue; font-size: 18px; margin-left: 20px"
                class="el-icon-view"
                @click="handleEdit(scope.row.defenceId)"
              ></i>
              <i
                style="color: blue; font-size: 18px; margin-left: 30px"
                class="el-icon-chat-line-square"
              ></i>
            </template>
          </super-table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import api from "@/api";
import { reactive, toRefs, onMounted } from "vue";
import { useRouter } from "vue-router";
import { ElMessage } from "element-plus";
import SuperTable from "@/compontents/SuperTable.vue";
export default {
  //注册
  components: {
    SuperTable,
  },
  setup() {
    const $router = useRouter();
    const state = reactive({
      flag: true,
      MjorData: [], //专业数据接口
      state: ["全部", "未开始", "进行中", "已结束"],
      ind: 0, //专业下标
      stateInd: 0, //状态
      classFlag: true, //类名
      pageNum: 1,
      pageSize: 10,
      searchTitle: "",
      defenceMjorId: "", //专业
      defenceStatus: "", //状态
      tableData: [], //表格数据
      total: 0,
      tableConfig: [
        {
          label: "名称",
          prop: "degenceName",
        },
        {
          label: "专业",
          prop: "majorName",
        },
        {
          label: "班级/计划",
          prop: "className",
        },
        {
          label: "发起人",
          prop: "defenceAuthorName",
        },
        {
          label: "开始/截止时间",
          solt: "StartTime",
          width: "200",
        },
        {
          label: "状态",
          solt: "State",
          width: "150",
        },
        {
          label: "操作",
          solt: "Action",
        },
      ],
    });

    //方法
    const methods = {
      changeId: (id, ind) => {
        //点击专业
        state.ind = ind;
        state.defenceMjorId = id;
        methods.getDefenceList();
      },
      getAll: () => {
        //点击全部
        state.ind = 0;
        state.defenceMjorId = "";
        methods.getDefenceList();
      },
      changState: (i) => {
        //点击状态
        state.stateInd = i;
        state.defenceStatus = i;
        methods.getDefenceList();
      },
      //头部数据
      getDefenceList() {
        const { pageNum, pageSize, searchTitle, defenceMjorId, defenceStatus } =
          state;
        api.practical
          .getDefenceList(
            {},
            {
              pageNum,
              pageSize,
              searchTitle,
              defenceMjorId,
              defenceStatus,
            }
          )
          .then((res) => {
            if (res.data.code === 200) {
              state.tableData = res.data.rows;
              state.total = res.data.total;
            }
          });
      },
      //分页
      currentChange(cur) {
        state.pageNum = cur;
        methods.getDefenceList();
      },
      //跳详情
      handleEdit(defenceId) {
        $router.push("/teacher/addDefence?id=" + defenceId);
      },
    };

    //头部数据
    const selectStationLabel = async () => {
      try {
        const res = await api.practical.selectStationLabel();
        state.MjorData = res.data.data;
        state.flag = false;
      } catch (error) {
        ElMessage.error(error);
      }
    };
    onMounted(() => {
      methods.getDefenceList();
      selectStationLabel();
    });
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(162, 170, 182, 0.1);
  .reply {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(162, 170, 182, 0.1);
    .top_filter {
      width: 80%;
      height: 220px;
      background: #fff;
      margin: 0 auto;
      .conten {
        padding: 20px 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        .search_row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          color: #303849;
          margin-bottom: 5px;
          .Mjortitle {
            span {
              display: inline-block;
              margin: 0 4px 15px 0;
              padding: 4px 18px;
              border-radius: 15px;
            }
            .active {
              background: #679cf6;
              color: #fff;
            }
            :hover {
              background: #679cf6;
              color: #fff;
              transition: 0.5s ease;
            }
          }
        }
      }
      .serch_state {
        width: 100%;
        display: flex;
        p {
          margin-top: 5px;
        }
        span {
          display: inline-block;
          margin: 0 0 15px 0;
          padding: 4px 18px;
          border-radius: 15px;
        }
        .active {
          background: #679cf6;
          color: #fff;
        }
        :hover {
          background: #679cf6;
          color: #fff;
          transition: 0.5s ease;
        }
      }
    }
  }
  .table_list {
    width: 80%;
    margin: 0 auto;
    margin: 20px auto;
    background: #fff;
    padding: 10px 30px;
    box-sizing: border-box;

    .inp {
      display: flex;
      justify-content: space-between;
      button {
        margin-left: 15px;
      }
    }
  }
}
</style>
