<template>
  <slot v-if="flag" name="loading"></slot>
  <h1 v-else>Loading...</h1>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    flag: { type: Boolean, default: false },
  },
});
</script>
