<template>
  <el-table :data="data" border style="width: 100%">
    <template v-for="item in tableConfig">
      <el-table-column
        :key="item.label"
        :prop="item.prop"
        :label="item.label"
        :width="item.width"
        v-if="item.prop"
      ></el-table-column>
      <el-table-column
        :label="item.label"
        :width="item.width"
        v-else
        :key="item.label"
      >
        <template #default="scope">
          <slot :name="item.solt" :scope="scope"></slot>
        </template>
      </el-table-column>
    </template>
  </el-table>
  <el-pagination
    v-if="fenYeTotal"
    background
    layout="prev, pager, next"
    :total="fenYeTotal"
    @current-change="currentChange"
  >
  </el-pagination>
</template>
<script>
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    data: {
      type: Array,
      defaule: [],
    },
    tableConfig: {
      type: Array,
      defaule: [],
    },
    fenYeTotal: {
      type: Number,
    },
  },
  setup(props, context) {
    const currentChange = (curPageNum) => {
      context.emit("currentChange", curPageNum);
    };
    return {
      currentChange,
    };
  },
});
</script>
